.App {
  text-align: center;
  background: #D1DEDE;
  height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/* Cards */
.column{
  float: left;
  width: 33%;
  margin: 0 auto;
}
.cardHolder{
  margin:0 -5px;
}
.cardHolder:after{
  content:"";
  display:table;
  clear:both;
}
.stockCard-cont{
  background:white;
  width: 70%;
  height: 40%;
  border-radius: 10px;
  text-align:center;
  margin: 10% auto;
  border: 1px solid black;
}

.stockCard-cont:hover{
  box-shadow: 0 0 3pt 2pt #89A1EF;
  
}
.setPriceStyle{
  width: 80%;
}

/*Search Bar */
.search-cont{
  text-align:center;
  height:25%;
}

input[class="searchBar"]:focus{
  /* border: 4px solid #8D80AD; */
}
.searchBar:hover{
  box-shadow: 0 0 3pt 2pt #89A1EF;
}
.searchBar{
  margin-top:10%;
  width:50%;
  font-family: 'Nunito Sans', sans-serif;
  padding: 10px;
}


/* Media query */
@media screen and (max-width: 600px){
  .stockCard-cont{
    margin-top:0;
  }
  .column {
    width: 100%;
    display: block;
  }
}